<div class="wrapper-footer">
  <div class="f-1">
    <div class="f-c">
      <div class="f-item">Memokon</div>
      <div class="f-item">About</div>
      <div class="f-item">Resources</div>
      <div class="f-item">More...</div>
      <div class="f-item switch">
        Dark Mode
        <mat-slide-toggle (toggleChange)="toggleTheme()"></mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="f-2">
    <div class="f-c">
      <div class="f-item">
        Privacy Policy
      </div>
      <div class="f-item">

      </div>
      <div class="f-item">
        appStore
      </div>
    </div>
  </div>
</div>
