<div class="nm-wrapper">
  <h1>Notes & Memos</h1>
  <div class="nm-container"></div>
</div>
<div class="content">
  <div class="progress">
    <!-- vacio por ahora -->
  </div>
  <div class="container-notes">

    <div class="note-item">
      <div *ngIf="show" class="line-mark"></div>
      <div matRipple (click)="noteToggle()" class="note-header">
        <span>Take the design propose</span>
      </div>
      <div *ngIf="show" class="note-content">
        <div class="note-main">
          <span>
            Convetion and Exibihitions center meet with my partnerts all day.
          </span>
        </div>
        <div class="note-footer">
          <div class="tag">
            Utils
          </div>
          <div class="tag">
            Ux
          </div>
        </div>
      </div>
    </div>

    <div class="note-item">
      <div class="note-header">
        <span>Take the design propose</span>
      </div>
    </div>

    <div class="note-item">
      <div class="note-header">
        <span>Take the design propose</span>
      </div>
    </div>

    <div class="note-item">
      <div class="note-header">
        <span>Take the design propose</span>
      </div>
    </div>

    <div class="note-item">
      <div class="note-header">
        <span>Take the design propose</span>
      </div>
    </div>

    <div class="note-item">
      <div class="note-header">
        <span>Take the design propose</span>
      </div>
    </div>

    <div class="note-item">
      <div class="note-header">
        <span>Take the design propose</span>
      </div>
    </div>

  </div>
</div>
