<div class="nm-wrapper">
  <h1>Notes & Memos</h1>
  <div class="nm-container">
    <div class="box-semi-filter">
      Today
    </div>
    <div class="box-semi-filter">
      Week
    </div>
    <div class="box-semi-filter">
      Month
    </div>
  </div>
</div>
<div class="content">
  <div class="items">
    <div class="item">
      Gym
    </div>
    <div class="item">
      Gym
    </div>
    <div class="item">
      Gym
    </div>
    <div class="item">
      Gym
    </div>
  </div>
</div>
