.nm-wrapper {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 2.4rem;
  background-color: var(--spec-white-color);
  padding-left: 1.5rem;
  padding-top: 1.3rem;
  box-shadow: var(--spec-box-shadow);

  h1 {
    color: var(--spec-text-primary);
    font-size: 1.55rem;
    font-weight: 500;
  }

  .nm-container {
    padding: 25px;
    display: flex;

    .box-semi-filter {
      border-radius: 1.5rem;
      background-color: var(--spec-main-color);
      color: var(--spec-white-color);

      padding: 5px 14px;
      margin-right: 8px;
      cursor: pointer;
    }
  }
}


.content {
  width: 100%;

  .progress {
    margin-top: 40px;
    border-bottom: 1px solid var(--spec-line-color);
  }

  .container-notes {
    width: 100%;
    height: auto;

    .note-item {
      height: 100%;
      position: relative;
      margin: 17px 22px;
      box-shadow: var(--spec-box-shadow);
      background-color: var(--spec-white-color);
      border-radius: 10px;
      overflow: hidden;
      transition: max-height 2s ease-in;

      .line-mark {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 5px;
        background-color: red;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .note-header {
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          background: rgba(0, 0, 0, .04);
        }

        span {
          color: var(--spec-text-primary);
          font-size: 17px;
        }
      }

      .note-content {
        max-width: 80%;
        padding: 0 20px 20px 20px;
      }

      .note-main {
        width: 100%;
        padding-bottom: 20px;

        span {
          color: var(--spec-text-secondary);
          font-size: 14px;
        }
      }

      .note-footer {
        height: auto;
        max-height: 24px;
        width: 100%;
        display: flex;

        .tag {
          border-radius: 35px;
          background-color: var(--spec-tag-background);
          color: var(--spec-white-color);
          padding: 4px 14px;
          width: auto;
          height: 20px;
          font-size: 11px;
          margin-right: 10px;
        }
      }
    }
  }


}

// * ------  -------- *
// *       Cards      *
// * ------  -------  *

.cards-container {
  width: 100%;
  height: 100%;
  padding: 22px;
}
