<div class="note-card">
  <div class="note-header">
    <div class="img-container"></div>
  </div>
  <div class="note-main">
    <div class="note-tile">
      Continuar con el desarrollo de mi WebApp
    </div>
    <div class="note-tags">

    </div>
  </div>
  <div class="note-footer">
    <div class="note-type">

    </div>
    <div class="note-time">
      <span> 6h Ago</span>
    </div>
    <div class="note-mark">
      <button mat-button class="mini-fab-button">
        <i class="material-icons">
          bookmark_border
        </i>
      </button>
    </div>
    <div class="note-options">
      <button mat-button class="mini-fab-button">
        <i class="material-icons">
          more_vert
        </i>
      </button>
    </div>
  </div>
</div>
