<div class="wrapper">

  <nav class="navbar-top">
    <button mat-icon-button (click)="cAsideNav.onToggleAside()">
      <i class="material-icons">menu</i>
    </button>

    <ng-template #name *ngIf="searchBar && isMobile(); then searchBarTemplate else menuItemsTemplate">
    </ng-template>

    <button (click)="onToggleSearch()" mat-icon-button>
      <i *ngIf="!searchBar" class="material-icons">search</i>
      <i *ngIf="searchBar" class="material-icons">clear</i>
    </button>
  </nav>

  <aside>
    <app-aside-nav #cAsideNav (searchBar)="searchBar=$event"></app-aside-nav>
  </aside>

  <main class="main">
    <div *ngIf="searchBar;">
      <div class="">
        <div class="">
          Aca van los filtros
          <div *ngFor="let filters of searchFilters" class="">
            {{ filters.title }}
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    Aca mi contenido
  </main>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>

<!-- barra de busqueda completa para mobile -->
<ng-template #searchBarTemplate>
  <div class="search-bar">
    <app-search-bar [searchFiltered]="searchFiltered" [onFocus]="searchBar ? true : false">
    </app-search-bar>
  </div>
</ng-template>

<!-- items con barra de busqueda para desktop -->
<ng-template #menuItemsTemplate>
  <span class="main-title">
    {{ isMobile() ?   myZoneS._nameLastItem ? myZoneS._nameLastItem : 'MEMOKON' : 'MEMOKON'}}
  </span>
  <ul>
    <div class="container-menu-items" *ngIf="!searchBar; else searchBarTemplate">
      <li [ngClass]="{'item-active': itemNav.state, 'dont-show': itemNav.onTopMenu === false}"
        *ngFor="let itemNav of itemsNav">
        <button (click)="itemTopSelected(itemNav)" mat-button>
          <a href="#"> {{ itemNav.name }} </a>
        </button>
      </li>
      <div class="line-nav"></div>
    </div>
  </ul>
</ng-template>

<div #buttonToTop class="button-to-top">
  <button (click)="scrollToTop()" mat-fab>
    <i class="material-icons">
      keyboard_arrow_up
    </i>
  </button>
</div>
