.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    height: auto;
    display: grid;
    align-items: center;
    background: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    grid-template-columns: 60px auto 60px;

    button {
        place-self: center;

        i {}
    }

    a {
        text-align: center;
    }

    ul {
        display: none;

        li {
            button {
                a {}
            }
        }
    }

    @media screen and (min-width: 550px) {
        grid-template-columns: 60px minmax(100px, 200px) auto 60px;

        ul {
            display: flex;
            position: relative;
        }

        li {
            width: 100px;

            button {
                width: 100%;
            }
        }
    }
}

.main {
    height: 100%;

}

/* otras */

/* .item-active {
    border-bottom: 3px solid green;
    border-radius: 2px;
} */

.line-nav {
    height: 2px;
    width: 100px;
    background-color: #07ADA8;
    position: absolute;
    bottom: -2px;
    transition: .35s ease-in-out;
}

.s {
    display: flex;
    position: relative;
    width: auto;
}