/* You can add global styles to this file, and also import other style files */

@import 'animations';

:root {
  --spec-white-color: #ffffff;
  --secondary-color: #f9f9f9;
  --icons-color: #6C7B8A;
  --spec-10-percent-layer: rgba(0, 0, 0, 0.10);
  --spec-text-secondary: #606060;
  --spec-main-color: #07ADA8;
  --spec-text-primary: #0d0d0d;
  --spec-input-text: hsla(0, 0%, 0%, 0.87);
  --spec-input-background: rgba(0, 0, 0, .04);
  --spec-size-text-primary: 0.875rem;
  --spec-scroll: rgba(152, 148, 148, 0.72);
  --spec-wrapper-color-dark: #1c1e21;
  --spec-wrapper-color-light: #e9eaec;

  --spec-tag-background: #434343;
  --spec-line-color: #BBBBBB;

  --spec-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  /* #505254 */

  --prueba1: #201E50;
  --prueba2: #4527a0;
  --secondary-prueba2: #7953d2;
  --darl: #000070;

}

html {
  scroll-behavior: smooth;
  height: 100%;

  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--spec-scroll);
    border-radius: 4px;
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box !important;
  padding: 0;
}

.b-scroll {
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--spec-scroll);
    border-radius: 4px;
  }
}

ul,
li {
  list-style: none;
}

a,
a:visited,
a:link,
a:active,
a:focus {
  text-decoration: none;
  color: initial;
  outline: 0;
}


.button-to-top {
  position: fixed;
  display: none;
  bottom: 8px;
  right: 8px;
  z-index: 50;
}


.hidde-content {
  overflow: hidden;
}
